.anton{
	font-family: "Do Hyeon";
	font-size: 350%;
}
.e{
	color: #F75E5E;
}
.p{
	color: #5EC6F7;
}
.l{
	color: #F75E5E;
}
.i{
	color: #68FF4A;
}
.o{
	color: #F5F75E;
}
p{
	font-family: "Roboto";
	font-size: 150%;
}
body{
	background: #343233;
	color: white;
	margin: 0;
}
nav{
	font-family: "Roboto";
}
.theColor{
	color: #00c3ff;
}